body {background-color: rgb(160, 187, 225);} 

.scratchheader{font-family: 'Times New Roman', Times, serif;}

.scratchlist{
    color: rgb(49, 49, 49);
    font-style: italic;
}

.links{text-decoration: underline;}

.position{
    position: relative;
    left: 20px;
}
